<div class="container mt-4">
  <form>
    <div class="row">
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Enter Full Name" />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Full Email"
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Full Mobile Number"
        />
      </div>
    </div>
  </form>
</div>
