<div class="container mt-4">
  <div
  *ngIf="successMSg"
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
>
  <strong>{{ successMSg }}</strong>
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usr of readUser">
        <th scope="row">{{ usr.id }}</th>
        <td>{{ usr.fullname }}</td>
        <td>{{ usr.email }}</td>
        <td>{{ usr.mobile }}</td>
        <td><button class="btn btn-danger" (click)="deleteId(usr.id)">Delete</button></td>
        <td><button class="btn btn-primary">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
